doctype html
html
  head
    meta( charset='UTF-8' )
    title gulp test
    link( href="/assets/styles/pc.css" rel="stylesheet" )
    script(src="/assets/scripts/vendor.bundle.js", type='text/javascript', charset='UTF-8')
    script( src="/assets/scripts/pc.js" type="text/javascript" )
    //- dev.
      <script src="aaaaa">aaa</script>
  body
    div#container
      block main